<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--CDI Beans-->
    <bean id="dao2" class="com.programming.CDI.dao.IDaoImpl"/>
    <bean id="metier2" class="com.programming.CDI.metier.IMetierImpl">
        <constructor-arg>
            <bean class="com.programming.CDI.dao.IDaoImpl"/>
        </constructor-arg>
    </bean>

</beans>